{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}{% trans 'Activate your account' %}{% endblock %}

{% block content_title %}<h1>{% trans 'Activate your account' %}</h1>{% endblock %}

{% block content %}
<p>{% trans 'Please fill the password to complete account activation' %}</p>
<form action="" method="post">{% csrf_token %}
    {{ form.as_table }}
    <p><input type="submit" value="{% trans 'Activate' %}"></p>
</form>
{% endblock %}
