{% extends "base_single.html" %}
{% load uni_form_tags %}
{% block title %}Coordinator Sign Up{% endblock %}
{% block extrahead %}
  <meta name="description=" content="Join our ad-free network of approved wedding coordinators and book more brides.">
  {{wizard.form.media}}
{% endblock %}
{% block style %}
{% endblock %}
{% block header %}<br><br><br>
<img id="header" src="/static/images/teampicture.png" />
{% endblock %}
{% block content %}
{% if wizard.steps.step1 == 1 %}
<h1>JOIN US IN REVOLUTIONIZING THE WEDDING INDUSTRY</h1>
<p>Pink Cloud 9 marries online wedding planning tools and on-site wedding day coordination services to ensure a successful, stress-free wedding to couples in need of a little expert help. With DIY clients already lined up for our day of coordination services, the opportunities to hire more coordinators has arrived!</p>
<p>You must have a passion for weddings, strong leadership skills, familiarity with current trends, and love the exhilaration of a fast-paced working environment. The position is perfect if you are looking to make some extra income on the side, as you are able to accept/deny wedding gigs. We will staff you with a team of assistants and provide you with handbooks, checklists, and feedback from your team to ensure that you are successful at every wedding.</p>
<p>Your responsibility for our wedding clients will include: a half hour introductory meeting, a one hour timeline consultation, one venue walk-through with the clients, and coordination of the rehearsal and a 10-hour wedding day. As a member of the PC9 team, you are also required to attend monthly leadership workshops (in person or remotely) and evaluate your assistants after each wedding.</p>
<p>Experience in wedding planning/coordination is preferred but all levels are welcome to apply. Please apply to be a coordinator today and see if you’ve got what it takes to be a PC9 Big Day Coordinator or Assistant. Once you have taken our skill evaluation quiz, you will receive a follow up email from our hiring manager within 2 business days to let you know what your next steps are. Thanks so much for your interest in joining our team!</p>
{% endif %}
<form method='post' enctype="multipart/form-data" action='#registration' id="registration" class="uniForm">{% csrf_token %}
<div class="registration">
  <h1>APPLY TO BE A COORDINATOR ( Step {{wizard.steps.step1 }} of {{ wizard.steps.count }} )</h1>
  <table class="registration">
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form|as_uni_form }}
        {% endfor %}
    {% else %}
        {{ wizard.form|as_uni_form }}
    {% endif %}
  </div>
  </table>
  <br>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" class="button" type="submit" value="{{ wizard.steps.prev }}#registration">Previous Step</button>
  {% endif %}
  <input type="submit" value="Next Step" class="button"/>
</div>
</form>
{% endblock %}
{% block scripts %}
{% endblock %}
