{% extends "base_single.html" %}
{% block title %}Coordinator Sign Up{% endblock %}
{% block extrahead %}
  <meta name="description=" content="Join our ad-free network of approved wedding coordinators and book more brides.">
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<h1>Thanks for signing up. We'll be in touch shortly!</h1>
<p>Pink Cloud 9 is an innovative hybrid of online wedding planning tools and on-site wedding day coordination services designed for modern couples who are searching for unique and affordable services. Unlike other wedding websites that make you pay for advertising and then leave you at the aisle, Pink Cloud 9 is in the trenches with you. We measure our success by your success, and our coordinators are ready to make your lives easier.</p>
{% endblock %}
{% block scripts %}
{% endblock %}

