{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<h1>Login to Pink Cloud 9.com!</h1>
<form method="post" action="{% url django.contrib.auth.views.login %}" class="uniForm">{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<p><a href="{% url auth_password_reset %}">Forgot</a> your password?</p>

<button>Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
