{% extends "registration/registration_base.html" %}
{% block title %}Register for an account{% endblock %}
{% block content %}
<table>
    <form method='post' action=''>{% csrf_token %}
      <tr><th><label for="usertype">Account Type:</label></th><td>
          <select name="usertype" id="usertype">
            <option value="1">We're a Couple!</option>
            <option value="2" selected>I'm a Vendor!</option>
          </select>
      {{ form }}
        <tr><td></td><td><input type="submit" value="Send activation email" /></td>
    </form>
</table>
{% endblock %}
