{% extends "base.html" %}
{% load uni_form_tags %}
{% block title %}Vendor Sign Up{% endblock %}
{% block extrahead %}
  <meta name="description=" content="Join our ad-free network of approved wedding vendors and book more brides.">
  {{wizard.form.media}}
{% endblock %}
{% block style %}
  #header {
    margin-top:0px;
  }
  .uniForm .ctrlHolder {
    padding: 0.25em;
    border-bottom:none;
  }
{% endblock %}
{% block content %}
<form method='post' action='' class="uniForm">{% csrf_token %}
<div class="registration">
  <h1>Register for a vendor profile ( Step {{wizard.steps.step1 }} of {{ wizard.steps.count }} )</h1>
  <table class="registration">
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form|as_uni_form }}
        {% endfor %}
    {% else %}
        {{ wizard.form|as_uni_form }}
    {% endif %}
  </div>
  </table>
  <br>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" class="button" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
  {% endif %}
  <input type="submit" value="Next Step" class="button"/>
</div>
</form>
<h1>JOIN US IN REVOLUTIONIZING THE WEDDING INDUSTRY</h1>
<p>Pink Cloud 9 is an innovative hybrid of online wedding planning tools and on-site wedding day coordination services designed for modern couples who are searching for unique and affordable services. Unlike other wedding websites that make you pay for advertising and then leave you at the aisle, Pink Cloud 9 is in the trenches with you. We measure our success by your success, and our coordinators are ready to make your lives easier.</p>
<img src="/static/images/vendor-howitworks.png" width="840">
<h1>"The Three Letter Word"</h1>
<p>Ask any full service wedding planner what they think of the DIY bride, and get ready to duck from a flying Jimmy Choo at your head. Having been a full service company ourselves, we understand the resistance. But we believe that DIY planning isn't just a trend - it's a cultural phenomenon. 15+ million etsy users would tell you the same. So we've taken a good, long look at the way we do business and decided to create a service that is tailored for the particular needs and desires of the DIY couple.</p>
<p>We're very excited about advancing a new era of collaboration in the wedding industry, and hope you are too. If you're interested in being a part of our pro network, please <a href="http://pinkcloud9.us4.list-manage1.com/subscribe?u=24e44e9c0c36c785f27b7cb89&id=8682144267">tell us more about yourself</a> and get ready for liftoff!</p>
{% endblock %}
{% block scripts %}
{% endblock %}
