{% load i18n %}
<table style="border-style: none;">
    <tr>
      <td style="vertical-align: middle;">{% trans "Current image" %}:</td>
        <td>
          <a target="_blank" href="{{MEDIA_URL}}{{value}}"><img class="thumbnail" src="{{value.thumbnail.url}}" /></a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;">{% trans "Change" %}:</td>
        <td>
            {{input}}
        </td>
    </tr>
</table>
