{% extends "base_double_reverse.html" %}
{% block header %}
<div class="no_header"></div>
{% endblock %}
{% block subnav %}
  <nav class="sub">
    <a href="/profile/edit/">Edit Profile</a> | 
    <a href="/profile/account/">Edit Account</a> |
    <a href="/profile/{{profile.get_url}}">View Live Profile</a>
  </nav>
{% endblock %}
{% block left %}
  {% include 'profiles/left_bar.html' %}
{% endblock %}
{% block social %}{% endblock %}
