{% load profile_tags %}
<article>
  <h1>Your Public Profile</h1>
  <p><span class='question'>{% get_verbose_name public 'myself' %}:</span>
  {{public.myself}}</p>
  <p><span class='question'>{% get_verbose_name public 'moment' %}:</span>
  {{public.moment}}</p>
  <p><span class='question'>{% get_verbose_name public 'memory' %}:</span>
  {{public.memory}}</p>
  <p><span class='question'>{% get_verbose_name public 'some_days' %}:</span>
  {{public.some_days}}</p>
  <p><span class='question'>{% get_verbose_name public 'random' %}:</span>
  {{public.random}}</p>
  <p><span class='question'>{% get_verbose_name public 'obsessed' %}:</span>
  {{public.obsessed}}</p>
  <p><span class='question'>{% get_verbose_name public 'because' %}:</span>
  {{public.because}}</p>
  <p><span class='question'>{% get_verbose_name public 'good' %}:</span>
  {{public.good}}</p>
  <p><span class='question'>{% get_verbose_name public 'refining' %}:</span>
  {{public.refining}}</p>
  <p><span class='question'>{% get_verbose_name public 'couples' %}:</span>
  {{public.couples}}</p>
  <p><span class='question'>{% get_verbose_name public 'working' %}:</span>
  {{public.working}}</p>
  <p><span class='question'>{% get_verbose_name public 'advice' %}:</span>
  {{public.advice}}</p>
</article>
