{% extends "profiles/base.html" %}
{% load uni_form_tags %}
{% block title %}{{user.username}}'s Profile - Edit{% endblock %}
{% block right %}
<h1>Edit Your Public Profile</h1>
<form action="" method="POST" class="uniForm">{% csrf_token %}
  {{form|as_uni_form}}
  <input type="submit" value="Save!" />
</form>
{% endblock %}
