{% extends "profiles/base.html" %}
{% load uni_form_tags %}
{% block title %}{{user.username}}'s Gallery - Edit{% endblock %}
{% block right %}
<h1>Edit Your Profile Gallery</h1>
<section class="gallery">
  <form action="" method="POST" class="uniForm" enctype="multipart/form-data">{% csrf_token %}
    {{form|as_uni_form}}
    <button>Save!</button>
  </form>
</section>
{% endblock %}
