  <h3>Hi {{user.first_name}}</h3>
  <div class="avatar">
    {% if gallery and gallery.portrait %}
      <img src="{{gallery.portrait.url}}" class="thumbnail" />
    {% else %}
      <img src="/static/images/avatar.png" class="thumbnail" />
    {% endif %}
  </div>

