{% extends 'base.html' %}
{% block header %}
  <img id="header" src="/static/images/header.png" />
  <div class="bubbleWrap">
    <h1 class="bubbleTitle">Let us handle the little things on your big day.</h1>
    <h1 class="bubble"><a href="https://docs.google.com/a/pinkcloud9.com/spreadsheet/viewform?formkey=dFRUZThjVm4xSUgxcXItcFhjajZ2M3c6MQ#gid=0"><strong>Find your wedding coordinator >></strong></a></h1>
  </div>
{% endblock %}
{% block content %}
  <section class="left sixty">
    {% block left %}{% endblock %}
  </section>
  <section class="right thirty">
    {% block right %}{% endblock %}
  </section>
  <div style="display:block;clear:both;">&nbsp;</div>
{% endblock %}
