{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block extrahead %}
  <meta name="description=" content="PinkCloud9.com Privacy Policy">
{% endblock %}
{% block content %}
<div>
<p style="margin-bottom:0pt;text-align:center;line-height:14pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-size:14pt;font-weight:bold">PC 9 Privacy Policy</span></p>
<p style="margin-bottom:11pt"> </p>
<p style="margin-bottom:11pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Pink 
Cloud, Inc. d/b/a Pink Cloud 9 (“PC9”) is committed to protecting 
your privacy. We prepared this Privacy Policy to describe our practices 
regarding the Personal Data (as defined below) we collect from users 
of our Website, located at <a href="http://www.pinkcloud9.com" target="_blank">www.pinkcloud9.com</a> and our related services.</span></p>
<ol style="list-style:decimal">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">User Consent</span></li>
</ol>
<p style="margin-bottom:11pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">By submitting Personal Data through our Website or related services, 
you agree to the terms of this Privacy Policy and you expressly consent 
to the processing of your Personal Data in accordance with this Privacy 
Policy.</span></p>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="2">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Types of Data We Collect</span></li>
</ol>
<p style="margin-bottom:11pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9 collects Personal Data and Anonymous Data from you when you visit 
our Website and when you send us information or communications. “Personal 
Data” means data that allows someone to identify or contact you, 
including, for example, your name, address, telephone number, e-mail 
address, as well as any other non-public information about you that 
is associated with or linked to any of the foregoing data. “Anonymous 
Data” means data that is not associated with or linked to your 
Personal Data; Anonymous Data does not permit the identification of 
individual persons. We collect Personal Data and Anonymous Data, as 
described below.</span></p>
<p style="margin-bottom:11pt"> </p>
<ol><ol style="list-style:decimal">
    <li style="margin-bottom:11pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Personal Data You Provide to Us. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">We collect Personal Data from you, such as your first and last name, 
    e-mail and mailing addresses, password, and various demographic items 
    such as number of children, ages, gender when you sign up for a </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">a</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ccount and make purchases on the Website. When you order </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> (as defined in the Terms of Service) on our Website, we will collect 
    all information necessary to complete the transaction, including your 
    name, credit card information, billing information and shipping information. 
    We also retain information on your behalf, such as your credit card 
    information for future purchases and addresses you add to your address 
    book. If you provide us feedback or contact us via e-mail (e.g., in 
    response to an employment opportunity posted on our Website), we will 
    collect your name and e-mail address, as well as any other content included 
    in the e-mail, in order to send you a reply, and any information that 
    you submit to us (e.g., a resume). When you participate in one of our 
    surveys, we may collect additional profile information. When you post 
    messages on the message boards of our Website, the information contained 
    in your posting will be stored on our servers and other users will be 
    able to see it. We may also collect Personal Data, such as demographic 
    information or personal preferences, from you via other points in our 
    Website that state that Personal Data is being collected.  </span></li>
</ol></ol>
<p style="margin-bottom:11pt"> </p>
<ol><ol style="list-style:decimal" start="2">
    <li style="margin-bottom:11pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Personal Data Collected via Technology. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">To make our Websit</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">e and</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> more useful to you, our servers (which may be hosted by a third party 
    service provider) collect Personal Data from you, including your operating 
    system and version, browser type and version, Internet Protocol (IP) 
    address (a number that is automatically assigned to your computer when 
    you use the Internet, which may vary from session to session), domain 
    name, and/or a date/time stamp for your visit. We also use Cookies (as 
    defined below) and navigational data like Uniform Resource Locators 
    (URL) to gather information regarding the date and time of your visit 
    and the solutions and information for which you searched and which you 
    viewed. Like most Internet services, we automatically gather this Personal 
    Data and store it in log files each time you visit our Website or access 
    your </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9 a</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ccount on our network. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">“</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">C</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ookies</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">”</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">are small pieces of information that a website sends to your computer</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">’</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">s</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> hard drive while you are viewing a website. We may use both session 
    Cookies (which expire once you close your web browser) and persistent 
    Cookies (which stay on your computer until you delete them) to provide 
    you with a more personal and interactive experience on our Website. 
    Persistent Cookies can be removed by following Internet browser help 
    file directions. If you choose to disable Cookies, some areas of our 
    Website may not work properly.</span></li>
</ol></ol>
<p> </p>
<ol><ol style="list-style:decimal" start="3">
    <li style="margin-bottom:0pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Personal Data That We Collect from You About Others</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">. If you decide to invite others to the Website or create a </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9 a</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ccount for a third party to join the Website, we will collect your 
    and the third party</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">’</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">s</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> names, e-mail addresses, and/or phone number in order to send an 
    e-mail or text message and follow up with the third party. You or the 
    third party may contact us at </span><a href="mailto:info@pinkcloud9.com" target="_blank"><span><span style="text-decoration:underline">info@pinkcloud9.com</span></span></a> <span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">request the removal of this information from our database.</span></li>
</ol></ol>
<p> </p>
<ol style="list-style:decimal" start="3">
  <li style="margin-bottom:0pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Use of Your Data</span></li>
</ol>
<p> </p>
<ol><ol style="list-style:decimal">
    <li style="margin-bottom:0pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">General Use. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">In general, Personal Data you submit to us is used either to respond 
    to requests that you make, or to aid us in serving you better. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> uses your Personal Data in the following ways: to facilitate the 
    creation of and secure your </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">account</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> on our network; identify you as a user in our system; provide improved 
    administration of our Website and </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Service</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> sales; improve the quality of experience when you interact with our 
    Website and </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">; send you a welcome e-mail to verify ownership of the e-mail address 
    provided when your </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">a</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ccount was created; send you administrative e-mail notifications, 
    such as security or support and maintenance advisories; respond to your 
    inquiries related to employment opportunities or other requests; to 
    do demographic analysis on our membership base; to send promotional 
    communications as described in Section 8.1 below; to provide you with 
    electronic newsletters; and/or to make telephone calls to you, from 
    time to time, as a part of secondary fraud protection or to solicit 
    your feedback.</span></li>
</ol></ol>
<p style="margin-bottom:11pt"> </p>
<ol><ol style="list-style:decimal" start="2">
    <li style="margin-bottom:11pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Creation of Anonymous Data. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">We may create Anonymous Data records from Personal Data by excluding 
    information (such as your name) that </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">make</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> the data personally identifiable to you. We use this Anonymous Data 
    to analyze request and usage patterns so that we may enhance the content 
    of our </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> and improve Website navigation. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> reserves the right to use and disclose Anonymous Data to third parties 
    at its discretion.</span></li>
</ol></ol>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="4">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Disclosure of Your Personal Data</span></li>
</ol>
<p style="margin-bottom:3pt"> </p>
<ol><ol style="list-style:decimal">
    <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Affiliates / Acquisitions. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Although we currently do not have a parent company, any subsidiaries, 
    joint ventures, or other companies under a common control (collectively, </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">“</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">A</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ffiliates</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">”</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">)</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">, we may in the future. We may share some or all of your Personal 
    Data with these Affiliates, in which case we will require our Affiliates 
    to honor this Privacy Policy. If another company acquires </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> or our assets, that company will possess the Personal Data collected 
    by it and us and will assume the rights and obligations regarding your 
    Personal Data as described in this Privacy Policy.</span></li>
</ol></ol>
<p style="margin-bottom:3pt"> </p>
<ol><ol style="list-style:decimal" start="2">
    <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Other Disclosures. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Regardless of any choices you make regarding your Personal Data (as 
    described below), </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> may disclose Personal Data if it believes in good faith that such 
    disclosure is necessary to (a) investigate any violation of the law 
    or this Privacy Policy or the Terms of Service; (b) comply with relevant 
    laws or to respond to subpoenas or warrants served on </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">; or (c) protect or defend the rights or property or safety of </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> or users of the </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">.</span></li>
</ol></ol>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="5">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Third parties</span></li>
</ol>
<p style="margin-bottom:11pt"> </p>
<ol><ol style="list-style:decimal">
    <li style="margin-bottom:11pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Personal and/or Anonymous Data Collected by Third 
    Parties</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">. Our provision of a link to any other website or location, such as 
    the websites of our Product suppliers or payment processing service 
    providers, is for your convenience and does not signify our endorsement 
    of such other website or location or its contents. When you click on 
    such a link, you will leave our Website and go to another site. During 
    this process, another entity may collect Personal Data or Anonymous 
    Data from you. We have no control over, do not review, and cannot be 
    responsible for, these outside websites or their content. Please be 
    aware that the terms of this Privacy Policy do not apply to these outside 
    websites or content, or to any collection of data after you click on 
    links to such outside websites.</span></li>
</ol></ol>
<p style="margin-bottom:11pt"> </p>
<ol><ol style="list-style:decimal" start="2">
    <li style="margin-bottom:11pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Except</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> as otherwise stated in this policy, we do not generally sell, trade, 
    share, or rent the Personal Data collected from our services to other 
    entities. However, we may share your Personal Data with third party 
    service providers to provide you with the </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">that we offer you through our Website; to conduct quality assurance 
    testing; to provide technical support; or to provide specific services, 
    such as synchronization of your contacts with other software applications, 
    in accordance with your instructions. These third party service providers 
    are required not to use your Personal Data other than to provide the 
    services requested by </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">. You expressly consent to the sharing of your Personal Data with 
    our contractors and other service providers for the sole purpose of 
    providing services to you.</span></li>
</ol></ol>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="6">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Your Choices Regarding Your Personal Data</span></li>
</ol>
<p> </p>
<ol><ol style="list-style:decimal">
    <li style="margin-bottom:0pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Choices. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">We offer you choices regarding the collection, use, and sharing of 
    your Personal Data. By signing up for a </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">account</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">, you opt-in to receiving free newsletters and e-mails that directly 
    promote the use of the Website or the purchase of the </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Services</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> (</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">“</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">P</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">romotional Communications</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">”</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">)</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">. We will periodically send you free Promotional Communications. When 
    you receive Promotional Communications from us, you may indicate a preference 
    to stop receiving further communications from us and you will have the 
    opportunity to </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">“</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">o</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">pt-out</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">”</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">by following the unsubscribe procedure provided in the e-mail you 
    receive, or by contacting us directly (please see contact information 
    below). Once we have processed your request, we will not send you promotional 
    emails with respect to products and/or services offered by us of which 
    you had opted out unless you opt back in to receiving such communications. 
    If you make a purchase or an attempted purchase on one of our Sites, 
    you will be opted back in to our newsletters and promotional communications 
    until you opt out or unsubscribe once again. Despite your indicated 
    e-mail preferences, we may send you </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">n</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">otices of any updates to our Terms of Service or Privacy Policy. </span></li>
</ol></ol>
<p> </p>
<ol><ol style="list-style:decimal" start="2">
    <li style="margin-bottom:0pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Changes to Personal Data. </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">You may change any of your Personal Data in your </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">a</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ccount by logging into your </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">a</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">ccount page or by sending </span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">an e</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">-mail to</span><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> </span><a href="mailto:info@pinkcloud9.com" target="_blank"><span><span style="text-decoration:underline">info@pinkcloud9.com</span></span></a>. <span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">You may request deletion of your Personal Data by us, but please note 
    that we may be required (by law or otherwise) to keep this information 
    and not delete it (or to keep this information for a certain time, in 
    which case we will comply with your deletion request only after we have 
    fulfilled such requirements). When we delete any information, it will 
    be deleted from the active database, but may remain in our archives.</span></li>
</ol></ol>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="7">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Security of Your Personal Data</span></li>
</ol>
<p style="margin-bottom:11pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9 is committed to protecting the security of your Personal Data. 
We use a variety of industry-standard security technologies and procedures 
to help protect your Personal Data from unauthorized access, use, or 
disclosure. We also require you to enter a password to access your PC9 
account information. Please do not disclose your PC9 account password 
to unauthorized people. Despite these measures, you should know that 
PC9 cannot fully eliminate security risks associated with Personal Data 
and mistakes may happen.</span></p>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="8">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">A Note About Children</span></li>
</ol>
<p style="margin-bottom:11pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">We do not intentionally gather Personal Data about visitors who are 
under the age of 13.</span></p>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="9">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">A Note to Users Outside of the United States</span></li>
</ol>
<p style="margin-bottom:11pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Your Personal Data may be processed in the country in which it was 
collected and in other countries, including the United States, where 
laws regarding processing of Personal Data may be less stringent than 
the laws in your country.</span></p>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="10">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Contact Information</span></li>
</ol>
<p style="margin-bottom:0pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">PC9 welcomes your comments or questions regarding this Privacy Policy. 
Please e-mail us at </span><a href="mailto:info@pinkcloud9.com" target="_blank"><span><span style="text-decoration:underline">info@pinkcloud9.com</span></span></a>  <span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">or contact us at the following address or phone number:</span></p>
<p style="margin-bottom:0pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Pink Cloud, Inc <br>
Attn: Privacy Inquiry <br>
453 S Spring St. #333</span></p>
<p style="margin-bottom:0pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">Los Angeles, CA 90013</span></p>
<p style="margin-bottom:0pt;margin-left:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;"> <br>
If you believe that PC9 has not adhered to this Privacy Policy, please 
contact PC9 by e-mail at </span><a href="mailto:info@pinkcloud9.com" target="_blank"><span><span style="text-decoration:underline">info@pinkcloud9.com</span></span></a>. <span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;">We will do our best to address your concerns. If you feel that your 
complaint has been addressed incompletely, we invite you to let us know 
for further investigation.</span></p>
<p style="margin-bottom:3pt"> </p>
<ol style="list-style:decimal" start="11">
  <li style="margin-bottom:3pt;margin-left:0pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">Changes to This Privacy Policy</span></li>
</ol>
<p style="margin-top:0pt;margin-bottom:0pt;margin-left:18pt;text-align:justify;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-size:11pt;color:#333333">We may revise this Privacy Policy 
from time to time that may affect our use of your Personal Data. The 
most current version of the policy will govern our use of your information 
and will always be at <a href="http://pinkcloud9.com/privacy" target="_blank">http://pinkcloud9.com/<WBR>privacy</a>. If we make a change 
to this policy that, in our sole discretion, is material, we will notify 
you via e-mail to the email associated with your PC9 account. By continuing 
to access or use the Services after those changes become effective, 
you agree to be bound by the revised Privacy Policy.</span></p>
<p style="margin-bottom:11pt"> </p>
<p style="margin-bottom:11pt;text-indent:18pt;line-height:15pt"><span style="font-family:&#39;Cambria&#39;,&#39;Arial&#39;;font-weight:bold">This Privacy Policy was last revised on October 
17, 2012. </span></p>
</div>
</div>
{% endblock %}
