@font-face { font-family:Museo; src: url('MuseoSans_500.otf');}
html {
  font-family: Museo, Arial;
  font-size:14px;
  height:100%;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 20%, #f4c1cd 60%, #e1b3b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(60%,#f4c1cd), color-stop(100%,#e1b3b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 20%,#f4c1cd 60%,#e1b3b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 20%,#f4c1cd 60%,#e1b3b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 20%,#f4c1cd 60%,#e1b3b6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 20%,#f4c1cd 60%,#e1b3b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1b3b6',GradientType=0 ); /* IE6-9 */
  background-repeat:no-repeat;
  background-attachment:fixed;
}
body {
  width:90%;min-height:100%;overflow:visible;
  background-color:#a79990;
  padding:0;margin:0 auto;
}
a { cursor:pointer;color:#ff0066; }
a:hover { cursor:pointer; }
a:visited, a:active { cursor:pointer;color:#ff0066; }
header {
  position:relative;
  text-align:center;
  background-color:white;
}
.bubbleWrap {
  position:absolute;
  top:33%;right:2%;
  width:35%;
}
header h1.bubble {
  display:inline-block;
  color:white;
  background-color:#ff0066;
  margin-left:0;
  border:1px solid white;
  text-align:center;
}
header h1.bubbleTitle {
  color:black;
}
header h1.bubble a {
  color:white;
}
#messages {
  background-color:white;
  position:relative;
  text-align:center;
}
#messages ul {
  margin:0;
  padding:0;
  width:100%;
}
#messages ul li {
  font-size:140%;
  list-style:none;
  padding:1em;
}
.success {
  color:#66ddaa;
}
.success a, .success a:visited { color:#66ddaa; }
.error {
  color:#FFAFB5;
}
h1 {
  font-size:160%;
  color:#ff0066;
}
h5 {
  color:#eeeeee;
  font-size:300%;
  margin:0;
  line-height:30px;
}
.quote {
  margin-top:-20px;
  text-align:right;
}
blockquote {
  font-style:italic;
}
#logo { float:left; }
#logo img {
  top:-22px;
  height:150px;
  position:absolute;
  margin-left:-7px;
  z-index:9999;
}
nav {
  z-index:999;
  text-align: right;
  background-color:#e3dede;
  padding:0.5em;
  font-size:20px;
  color:white;
}
nav a {
  color:white;
  text-decoration:none;
  font-weight:bold;
}
nav a:visited { color: white; }
nav.sub {
  font-size:18px;
  background-color:#A79990;
  opacity:0.8;
  margin:0 auto;
  text-align:center;
}
#header {
  margin:0 auto;
  width:100%;
}
#main {
  position:relative;
  padding:1em;
  padding-top:0;
  text-align:justify;
  min-height:600px;
  height:100%;
  background-color:white;
}
.no_header {
  padding-bottom:4%;
  background-color:white;
}
p {
  line-height:1.5em;
}
.chart {
  margin:0 auto;
  width:100%;
}
.pagination { display:none; }
.tooltip {
  border-bottom: 1px dotted #333; position: relative; cursor: pointer;
}
.tooltip:hover:after {
  content: attr(data-title);
  position: absolute; background: rgba(0, 0, 0, 0.85); padding: 3px 7px; color: #FFF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-left: 7px; margin-top: -3px;
  width:30em;
}
#invite {
  position:absolute;
  top:275px;
  left:120px;
}
#invite input[type="email"] {
  font-size:2em;
  width:300px;
  float:left;
  clear:none;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border:1px solid #f2f2f2;
}
#invite a {
  width:300px;
  height:50px;
  border:none;
  float:right;
}

footer {
  z-index:9999;
  padding:1em;
  font-size:90%;
  color:#fff;
}
input[type="submit"], input[type="button"], button {
  display:block;
  clear:both;
  font-size:100%;
  padding:0.5em;
  float:none;
}
footer a { color:#ffffff; }
footer a:visited , footer a:active{ color:#fff; }
#olark_box_container, #habla_beta_container_do_not_rely_on_div_classes_or_names {
  z-index:9999;
  position:fixed;
  bottom:0;
  right:7%;
}
#habla_window_div {
  width:320px!important;
}
#habla_window_div #habla_topbar_div {
  background-color:#45b4cc;
  color:white;
}
.top { z-index:99999; }
.left { float:left;position:relative; }
.right { float:right;}
.twenty { width:20%; }
.thirty { width:30%; }
.fourty { width:40%; }
.half { width:50%; }
.sixty { width:60%; }
.seventy { width:70%; }
.eighty { width:80%; }
.down { margin-top:3em; }
.white {background-color:white;}
.social {
  float:left;
  position:relative;
}
.social a {
  float:left;
  clear:both;
}
.question {
  font-weight:bold;
  clear:both;
  display:block;
  font-size:120%;
}
.gallery div.ctrlHolder {
  float:left;
  width:30%;
  clear:none;
}
ul.errorlist {
  margin:0;padding:0;
}
ul.errorlist li {
  list-style:none;
  font-size:90%;
  color:red;
  font-style:italic;
}
div.registration {
  width:70%;
  background-color:rgba(200,200,200,0.75);
  margin:0 auto;
  padding:1em;
}
div.registration h1 {
  color:#ff0066;
  font-weight:normal;
}
.bubble {
  display:inline-block;
  width:60%;
  border-radius:0.5em;
  color:black;
  background-color:#a7e2ef;
  padding:0.5em;
  font-weight:normal;
  margin-left:20%;
  clear:both;
  text-align:left;
}
.bubble a {
  text-decoration:none;
}
.bubble a:hover {
  text-decoration:underline;
}
.quote {
  font-weight:bold;
}
.quote:before, .quote:after {
  content:'"';
}
.quote .big {
  font-size:80px;
  margin-top:6px;
  display:inline-block;
  line-height:25px;
}
.shape {
  background:url('/static/images/shape.png') 0 0 no-repeat;
  height:17px;
  width:24px;
  display:block;
  margin-top:-14px;
  margin-left:60%;
}
.attribute {
  margin-bottom:3em;
  font-weight:bolder;
  margin-top:-2px;
  margin-left:40%;
  width:40%;
  font-size:80%;
  text-align:right;
  font-style:italic;
}
table { font-size:16px;}
table img { width:100%; }
th { text-align:center; font-weight:bold;padding:1em;width:25%; }
tr { padding:0;margin:0; }
tr td:first-child { font-weight:bold; text-align:left; }
td { text-align:center;border:none;padding:0.5em;margin:0;}
table.border td, th {
  border: 1px dotted #666;
  border-collapse:collapse;
}
.thumbnail { width:100px; height:75px; }
.grey { background-color:#f2f2f2; }
.dark_grey { background-color:#d2d2d2; }
.pink { background-color:#e1b3b6; }
.price { font-size:150%; color:#ff0066;font-weight:bolder; }
.small {font-size:70%; font-weight:normal;padding-top:2em;}
.credit {
  position:relative;
  top:-40px;
  text-align:right;
}
#pm_messages {
  width:60%;
}
.pm_message.pm_deleted             { text-decoration: line-through; }
.pm_message.pm_deleted .pm_body    { display: none; }
.pm_message.pm_archived            { font-style: italic; color: grey; }
.pm_message.pm_unread .pm_subject  { font-weight: bolder; }
.pm_message.pm_pending .pm_header  { background-color: #FFC; }
.pm_message.pm_rejected .pm_header { background-color: #FDD; }
.pm_message {
  padding:2em;
  border-top:1px dotted black;
}
@media all and (max-width: 1200px) {
  body { width:98%; }
  #logo img { height: 150px;top:-22px; }
  .bubble { font-size:16px; }
  .chart { width:100%; }
  #olark_box_container, #habla_beta_container_do_not_rely_on_div_classes_or_names {
    float:left;clear:both;
  }
  header h1.bubbleTitle { font-size:100%;}
  .social { float:none; }
  .contact { float:none; }
}
@media all and (max-width: 860px) {
  #logo { display:none; }
  table { font-size:100%; }
  .bubbleWrap {
    position:relative;margin:0 auto;
    width:100%;
  }
  .left { width:100%; }
  nav { text-align:center; }
  .right { display:none; }
}
@media all and (max-width: 400px ) {
}
