#habla_window_div, #habla_window_div h1, #habla_window_div h2, #habla_window_div h3, #habla_window_div h4, #habla_window_div h5, #habla_window_div h6, #habla_window_div p, #habla_window_div td, #habla_window_div dl, #habla_window_div tr, #habla_window_div dt, #habla_window_div ol, #habla_window_div form, #habla_window_div select, #habla_window_div option, #habla_window_div pre, #habla_window_div div, #habla_window_div table,  #habla_window_div th, #habla_window_div tbody, #habla_window_div tfoot, #habla_window_div caption, #habla_window_div thead, #habla_window_div ul, #habla_window_div li, #habla_window_div address, #habla_window_div blockquote, #habla_window_div dd, #habla_window_div fieldset, #habla_window_div li, #habla_window_div iframe, #habla_window_div strong, #habla_window_div legend, #habla_window_div em, #habla_window_div s, #habla_window_div cite, #habla_window_div span, #habla_window_div input, #habla_window_div sup, #habla_window_div label, #habla_window_div dfn, #habla_window_div object, #habla_window_div big, #habla_window_div q, #habla_window_div font, #habla_window_div samp, #habla_window_div acronym, #habla_window_div small, #habla_window_div img, #habla_window_div strike, #habla_window_div code, #habla_window_div sub, #habla_window_div ins, #habla_window_div textarea, #habla_window_div var, #habla_window_div a, #habla_window_div abbr, #habla_window_div applet, #habla_window_div del, #habla_window_div kbd, #habla_window_div tt, #habla_window_div b, #habla_window_div i, #habla_window_div hr,

/* HTML5 */
#habla_window_div article, #habla_window_div aside, #habla_window_div dialog, #habla_window_div figure, #habla_window_div footer, #habla_window_div header, #habla_window_div hgroup, #habla_window_div menu, #habla_window_div nav, #habla_window_div section, #habla_window_div time, #habla_window_div mark, #habla_window_div audio, #habla_window_div video {
    background-attachment:scroll;
    background-color:transparent;
    background-image:none; /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
    background-position:0 0;
    background-repeat:repeat;
    border-color:black; /* because border-color should match font color, so it is impossible for the reset stylesheet to know what color it should be. Guideline: if you haven't already declared a border-color for an element, be sure to do so when you first declare the border-width */
    border-style:none;
    border-width:medium;
/* Breaks IE 7 and 8 in quirks mode*/
/*  bottom:auto;*/
    clear:none;
    clip:auto;
    color:inherit;
/*  breaks opera*/
/*  content:normal;*/
    counter-increment:none;
    counter-reset:none;
    cursor:auto;
    direction:inherit;
    display:inline;
    float:none;
    font-family: helvetica, arial sans-serif; /* As with other inherit values, this needs to be set on the root container element */
    font-size: 12px;
    font-style:inherit;
    font-variant:normal;
    font-weight:inherit;
    height:auto;
/*  left:auto;*/
    letter-spacing:normal;
    line-height:inherit;
    list-style-type: inherit; /* Could set list-style-type to none */
    list-style-position: inside;
    list-style-image: none;
    margin:0;
    max-height:none;
    max-width:none;
/*  breaks ie7*/
    /*min-height:0;
       min-width:0;*/
    outline:invert none medium;
    overflow:visible;
    padding:0;
    position:static;
    quotes: "" "";
/*  breaks ie7*/
/*  right:auto;*/
    table-layout:auto;
    text-align:inherit;
    text-decoration:inherit;
/*Doesn't indent in IE quirks*/
/*  text-indent:0;*/
    text-transform:none;
/*Breaks scrolling in ie quirks mode*/
/*  top:auto;*/
    unicode-bidi:normal;
    vertical-align:baseline;
    visibility:visible;
    white-space:normal;
    width:218px !important
    word-spacing:normal;
    z-index:auto;
    
    /* CSS3 and proprietary */
    /* This section needs extendin */
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    opacity:1;
}

/* == BLOCK-LEVEL == */
/* Actually, some of these should be inline-block and other values, but block is fine */
/* HTML 4.01 */
#habla_window_div, #habla_window_div th, #habla_window_div table, #habla_window_div h3, #habla_window_div h5, #habla_window_div p, #habla_window_div h1, #habla_window_div td, #habla_window_div dl, #habla_window_div tr, #habla_window_div dt, #habla_window_div h6, #habla_window_div ol, #habla_window_div form, #habla_window_div select, #habla_window_div option, #habla_window_div pre, #habla_window_div div, #habla_window_div tbody, #habla_window_div h2, #habla_window_div tfoot, #habla_window_div caption, #habla_window_div thead, #habla_window_div h4, #habla_window_div ul, #habla_window_div address, #habla_window_div blockquote, #habla_window_div dd, #habla_window_div fieldset, #habla_window_div textarea, #habla_window_div hr,
/* HTML5 new elements */
#habla_window_div article, #habla_window_div aside, #habla_window_div dialog, #habla_window_div figure, #habla_window_div footer, #habla_window_div header, #habla_window_div hgroup, #habla_window_div menu, #habla_window_div nav, #habla_window_div section {
    display:block; 
}
/* == SPECIFIC ELEMENTS == */
/* Some of these are browser defaults; some are just useful resets */

#habla_window_div nav ul, #habla_window_div nav ol {
    list-style-type:none;
}
#habla_window_div ul, #habla_window_div menu {
    list-style-type:disc;
}
#habla_window_div ol {
    list-style-type:decimal;
}
#habla_window_div ol ul, #habla_window_div ul ul, #habla_window_div menu ul, #habla_window_div ol menu, #habla_window_div ul menu, #habla_window_div menu menu {
    list-style-type:circle;
}
#habla_window_div ol ol ul, #habla_window_div ol ul ul, #habla_window_div ol menu ul, #habla_window_div ol ol menu, #habla_window_div ol ul menu, #habla_window_div ol menu menu, #habla_window_div ul ol ul, #habla_window_div ul ul ul, #habla_window_div ul menu ul, #habla_window_div ul ol menu, #habla_window_div ul ul menu, #habla_window_div ul menu menu, #habla_window_div menu ol ul, #habla_window_div menu ul ul, #habla_window_div menu menu ul, #habla_window_div menu ol menu, #habla_window_div menu ul menu, #habla_window_div menu menu menu {
    list-style-type:square;
}
#habla_window_div li {  
    display:list-item;
    /* Fixes IE7 issue with positioning of nested bullets */
    min-height:auto;
    min-width:auto;
}
#habla_window_div strong {
    font-weight:bold;
}
#habla_window_div em {
    font-style:italic;
}
#habla_window_div kbd, #habla_window_div samp, #habla_window_div code {
  font-family:monospace;
}
#habla_window_div a, #habla_window_div a *, #habla_window_div input[type=submit], #habla_window_div input[type=radio], #habla_window_div input[type=checkbox], #habla_window_div select {
    cursor:pointer;
}
#habla_window_div a:hover {
    text-decoration:underline;
}
#habla_window_div button, #habla_window_div input[type=submit] {
  text-align: center;
}
#habla_window_div input[type=hidden] {
    display:none;
}
#habla_window_div abbr[title], #habla_window_div acronym[title], #habla_window_div dfn[title] {
    cursor:help;
    border-bottom-width:1px;
    border-bottom-style:dotted;
}
#habla_window_div ins {
    background-color:#ff9;
    color:black;
}
#habla_window_div del {
    text-decoration: line-through;
}
#habla_window_div blockquote, #habla_window_div q  {
    quotes:none; /* HTML5 */
}
#habla_window_div blockquote:before, #habla_window_div blockquote:after, #habla_window_div q:before, #habla_window_div q:after, #habla_window_div li:before, #habla_window_div li:after  {
    content: "";
    content:none; /* HTML5 */
}
#habla_window_div input, #habla_window_div select {
    vertical-align:middle;
}
#habla_window_div select, #habla_window_div textarea, #habla_window_div input {
    border:1px solid #ccc;
}
#habla_window_div table {
    border-collapse:collapse;
    border-spacing:0;
}
#habla_window_div hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
}
#habla_window_div *[dir=rtl] {
    direction: rtl;
}
#habla_window_div mark {
    background-color:#ff9;
    color:black;
    font-style:italic;
    font-weight:bold;
}



/* == ROOT CONTAINER ELEMENT == */
/* This contains default values for child elements to inherit  */
#habla_window_div {
    font-size: 100%; /* To restrict to a pixel unit, use 12px */
    line-height: 1;
    direction:ltr;
    text-align:left;
    font-family: "Times New Roman", Times, serif; /* Override this with whatever font-family is required */
    color: black;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}/*Layout Elements */

#habla_window_div {
	margin: 0;
}

.habla_window_div_base {
    display: block !important;
    padding: 0 10px 10px;
    top: 0 !important;
    z-index: 99999999;
    margin: 0 auto !important;
}

#habla_window_div #olark-callout-bubble-offline, #habla_window_div #olark-callout-bubble-online{
    position: relative !important;
}

#habla_window_div #olark-callout-bubble, #habla_window_div #olark-callout-bubble-offline {
    position: relative !important;
}

#habla_window_div #habla_panel_div{
    overflow: hidden;
}

#habla_window_div #habla_middle_div{
    
        padding: 6px 10px 3px 10px;
    
}

/*IE7 Fix*/
*:first-child+html #habla_window_div #habla_middle_div{
    padding: 6px 0 0 0;
}

#habla_window_div textarea{
    max-width: 100%;
    width: 100%;
    
}

/*IE7 Fix*/
*:first-child+html #habla_window_div textarea{
    width: 97%;
}
    
    /*Chatting*/
    
    #habla_window_div #habla_input_div{
        margin-left: -17px;   
        margin-right: -5px;
    }
    
    /*IE7 Fix*/
    *:first-child+html #habla_window_div #habla_input_div{
        margin-left: 0px; 
        margin-right: 0px; 
        width: 95%;
    }
    
    #habla_window_div #habla_chatform_form{
        padding: 3px 10px 0 10px;
    }
    
    #habla_window_div #habla_conversation_div{
        padding: 6px 10px 0 10px;
		height: 200px;        
            margin: -6px -10px 0 -10px;
        
    }
    
    /*IE7 Fix*/
    *:first-child+html #habla_window_div #habla_conversation_div, *:first-child+html #habla_window_div #habla_pre_chat_div, *:first-child+html #habla_window_div #habla_offline_message_div{
        width: 97%;
    }
    
    /*Forms: Prechat and Offline*/
    
    #habla_window_div #habla_name_input, #habla_window_div #habla_offline_email_input, #habla_window_div #habla_offline_body_input, #habla_window_div #habla_pre_chat_name_input, #habla_window_div #habla_pre_chat_email_input{
        overflow: hidden;
    }
    
    #habla_window_div #habla_pre_chat_div, #habla_window_div #habla_offline_message_sent_div, #habla_window_div #habla_offline_message_div{
        /*offset any horizontal padding and borders on input elements*/
        padding: 0px 10px 0px 10px;
        margin-left: -10px;
    } 
    
    /*IE7 Fix*/
    *:first-child+html #habla_window_div #habla_pre_chat_div, *:first-child+html #habla_window_div #habla_offline_message_sent_div, *:first-child+html #habla_window_div #habla_offline_message_div{
        padding: 5px;
        margin-left: 0px;
    }
    

/* General Text Style */

#habla_window_div{
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size:14px;
}

#habla_middle_div{
    line-height:1.5em;
}

/* Colors, borders, backgrounds, and general styles */

    /*Background*/
    #habla_window_div #habla_expanded_div {
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
    }
    
    /*Corners and rounding*/

    #habla_window_div.habla_window_div_position_inline .habla_panel_border{
        border-bottom: 1px solid #ededed;
    }

    #habla_window_div.olrk-fixed-bottom .habla_panel_border, #habla_window_div.olrk-fixed-bottom #habla_topbar_div{
		display: none;
    }
    
    #habla_window_div.olrk-fixed-top .habla_panel_border{
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright:5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #habla_window_div.olrk-fixed-top #habla_expanded_div {
        border-bottom: 1px solid #ededed;
    }
    
    /*Chatting*/
    
    #habla_window_div .habla_conversation_div {
        background:transparent none repeat scroll 0 0;
        border-bottom:1px dotted #ededed;
        line-height:1.5em;
        overflow:auto;
        color: black;
        width: 100%;
    }

    #habla_window_div #habla_wcsend_input{
        background:transparent none repeat scroll 0 0;
        overflow:auto;
        padding: 5px;
        vertical-align: text-top;
        line-height:1.5em;
    }

    #habla_window_div .habla_wcsend_input_normal {
        border:1px solid #b6b6b6;
        color: black;
    }
    #habla_window_div .habla_wcsend_input_pre {
        color: gray;
    }
    
    #habla_window_div .habla_wcsend_input_highlighted{
        border-color: gray !important;
        color: black;
    }
    
    #habla_window_div .habla_conversation_p_item {
        background:transparent none repeat scroll 0 0;
        color: black;
        padding: 0;
        margin: 0 0 0 20px;
        text-indent: -20px;
        overflow: visible;
    }

    #habla_window_div .habla_conversation_person1 {
        color: #979797;
        padding-right:5px;
        display: inline;
    }
    #habla_window_div .habla_conversation_person2 {
        color: #ed027e;
        padding-right:5px;
    }
    
    #habla_window_div .olrk_avatar{ 
        float: right;
        border: 1px solid lightgray;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    /*Prechat and Offline Styles*/

    #habla_window_div #habla_offline_message_span, #habla_window_div #habla_pre_chat_span{
        margin-bottom: 5px;
        display: block;
    }

    #habla_window_div #habla_offline_message_div, #habla_window_div #habla_pre_chat_div {
        line-height:1.5em;
    }
    #habla_window_div #habla_offline_message_span{
        margin-bottom: 5px;
        display: block;
    }
#habla_window_div 
#habla_name_input, 
#habla_window_div 
#habla_offline_email_input,  
#habla_window_div 
#habla_pre_chat_name_input, 
#habla_window_div #habla_pre_chat_email_input {
        border: 1px solid #e4e4e4;
        padding: 4px;
        margin-bottom: 5px;
        font-size: .9em;
        border-radius: 3px;
        -moz-border-radius: 3px;
    }

#habla_window_div 
#habla_offline_body_input {
        border: 1px solid #e4e4e4;
        padding: 4px;
        margin-bottom: 5px;
        font-size: .9em;
        border-radius: 3px;
        -moz-border-radius: 3px;
        height: 85px !important;
}
    #habla_window_div .habla_offline_submit_input {
        background: #d54f27 none repeat scroll 0 0;
        border:medium none #ededed;
        color: white;
        float:right;
        cursor: pointer;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 1px 6px 1px 6px;
        margin: -10px -10px 0 0;
    }
    
    #habla_window_div .habla_offline_error_span, #habla_window_div #habla_pre_chat_error_span{
        margin-top: -20px; 
        float:left;
        padding-bottom: 10px;
        font-style: italic;
        line-height:1.5em;
    }

    /*Topbar*/

    #habla_window_div #habla_topbar_div{
        color:black;
        padding: 10px;
        cursor: pointer;
        border:1px solid #ededed;
    }

    #habla_window_div #habla_oplink_a{
        color: black;
        text-decoration:none;
    }

    #habla_window_div #habla_oplink_a.habla_oplink_a_hover{
        text-decoration:underline;
    }

    #habla_window_div .clear_style {
        clear:both;
    }

    /* Topbar Buttons */

    #habla_window_div .habla_button {
        float: right;
        margin-top: -1px;
        margin-left: 4px;
        padding: 0px;
        width: 16px;
        height: 16px;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        background-position: 0 top;
        background-repeat: no-repeat !important;
        cursor: pointer !important;
    
        /*Hide the Ascii buttons*/
        overflow: hidden;
        line-height: 1000px;
    
        
            background-image: url(/themes/azul/buttons-light.png);
        
    
    }

    #habla_window_div .habla_button:hover {
        background-color: #333;
    }

    #habla_window_div #habla_sizebutton_a {
        background-position: -80px top !important;
    }

    .olrk-state-expanded #habla_window_div #habla_sizebutton_a {
        background-position: -96px top !important;
    }

    #habla_window_div #habla_sizebutton_a:hover {
        background-color: #333;
    }

    #habla_window_div #habla_closebutton_a {
        background-position: 0px top !important;
    }

    #habla_window_div #habla_closebutton_a:hover {
        background-color: #333;
    }

    #habla_window_div #habla_popout_a {
        background-position: -16px top !important;
    }

    #habla_window_div #habla_popout_a:hover {
        background-color: #333;
    }

/* preserve link coloring */
#habla_window_div #habla_panel_div #habla_expanded_div a,
#habla_window_div #habla_panel_div #habla_conversation_div a {
    color: #246092;
}
#habla_window_div #habla_panel_div #habla_expanded_div a:visited,
#habla_window_div #habla_panel_div #habla_conversation_div a:visited {
    color: #246092;
}
#habla_window_div #habla_panel_div #habla_expanded_div a:active,
#habla_window_div #habla_panel_div #habla_conversation_div a:active {
    color: #246092;
}

/*Animations*/

@-webkit-keyframes pulse {
    0% {
    }
    50% {
        background-color:rgba(255,0,0,0.7); 
    }
    100% {
    }
}

@-webkit-keyframes tab_in_bottom {
    0% {
        margin-bottom: -50px;
        padding-bottom: 10px;
    }
    50% {
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    100% {
        padding-bottom: 10px;
    }
}

@-webkit-keyframes tab_in_top {
    0% {
        margin-top: -50px;
        padding-top: 10px;
    }
    50% {
        margin-top: 0px;
        padding-top: 15px;
    }
    100% {
        padding-top: 10px;
    }
}

.olrk-state-compressed .olrk-fixed-bottom  #habla_topbar_div{
    -webkit-animation-name: tab_in_bottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;    
}

.olrk-state-compressed .olrk-fixed-top  #habla_topbar_div{
    -webkit-animation-name: tab_in_top;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;    
}

#habla_window_div .habla_topbar_div_highlighted {
background: #d05c34 none repeat scroll 0 0;
color:#FFFFFF;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

/*Quirksmode IE fixes*/








a.hbl_pal_title_fg {
    color:  !important;
}

.hbl_pal_main_bg{ 
  background-color:white !important;
  }
  .hbl_pal_title_fg{ 
  color: !important;
  }
  .hbl_pal_local_fg{ 
  color: !important;
  }
  .hbl_pal_title_bg{ 
  background-color: !important;
  }
  .hbl_pal_offline_submit_fg{ 
  color: !important;
  }
  .hbl_pal_remote_fg{ 
  color: !important;
  }
  .hbl_pal_offline_submit_bg{ 
  background-color: !important;
  }
  


div.hbl_pal_main_height{ 
  height: 150px !important;
  }
  div.hbl_pal_main_width{ 
  width: 250px !important;
  }
  


/*Make position:fixed work in IE6!*/

.olrk-fixed-top    /* position fixed Top    */{position:fixed;bottom:auto;top:0px;}
.olrk-fixed-bottom /* position fixed Bottom */{position:fixed;bottom:0px;top:auto;}
.olrk-fixed-left   /* position fixed Left   */{position:fixed;right:auto;left:0px;}
.olrk-fixed-right  /* position fixed right  */{position:fixed;right:0px;left:auto;}



/* backwards compat */
.habla_window_div_position {
bottom:0px;
position: fixed;
right:0px;
margin-right: 10px;
margin-bottom: 10px;
}
.habla_window_div_position_inline {
}
.habla_window_div_position_floating {
bottom:0px;
position: fixed;
right:0px;
margin-right: 10px;
margin-bottom: 10px;
}
.habla_window_div_position_floating_ie {
bottom:0px;
position: absolute;
right:0px;
margin-right: 10px;
margin-bottom: 10px;
}
